<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Details</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/expense.css}">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

<div class="dashboard-container">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="main-content">

        <!-- Navbar -->
        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <div class="content">

            <div class="card shadow-sm border-0">

                <div class="card-header bg-white">

                    <h3 class="fw-bold mb-0">
                        Expense Details
                    </h3>

                </div>

                <div class="card-body">

                    <table class="table table-bordered">

                        <tr>
                            <th width="25%">Title</th>
                            <td th:text="${expense.title}"></td>
                        </tr>

                        <tr>
                            <th>Amount</th>
                            <td th:text="'₹' + ${expense.amount}"></td>
                        </tr>

                        <tr>
                            <th>Category</th>
                            <td th:text="${expense.category}"></td>
                        </tr>

                        <tr>
                            <th>Date</th>
                            <td th:text="${expense.date}"></td>
                        </tr>

                        <tr>
                            <th>Description</th>
                            <td th:text="${expense.description}"></td>
                        </tr>

                    </table>

                    <a th:href="@{/expense}"
                       class="btn btn-secondary">

                        <i class="bi bi-arrow-left"></i>

                        Back to Expenses

                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>